/* {{> sign}} */

using System;
using Telerik.Sitefinity.Data;

namespace SitefinityWebApp.Modules.{{name}}
{
    public class {{name}}ModuleDataProvider : DataProviderBase
    {

        public override Type[] GetKnownTypes()
        {
            return new Type[] { typeof({{name}}ModuleItem) };
        }

        public override string RootKey
        {
            get { return "{{name}}Module"; }
        }
    }
}