/* {{> sign}} */

using System.Web.Mvc;
using Telerik.Sitefinity.Mvc;

namespace {{projectDefaultNamespace}}.Mvc.Models
{
	public class {{pascalCaseName}}Model
	{
		public string Message { get; set; }
	}
}