/* {{> sign}} */

using System.Web.Mvc;
using SitefinityWebApp.Mvc.Controllers;
using System;

using Telerik.Sitefinity.Mvc;

namespace SitefinityWebApp.Mvc.Models
{
	public class {{pascalCaseName}}Model
	{
		public string Message { get; set; }
		public int Number {get; set; }
		public bool Check {get; set; }
        public DateTime? MyDate { get; set; }
        public Enumeration MyEnum { get; set; }
	}
}