<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="14.0.7700.0" authCookieName=".SFAUTH-/" rolesCookieName=".SFROLES-/" validationKey="BF40961238BFF0EB5C2AD31F5A52ACBAFD7CE6DDFF5092B4D0536EF9AF50B435A3376254114E8D864DB5C36A2C6201BF2A5C902FF1855D8540F893AF1DFC6BE0" decryptionKey="ED71E04BC13F4AEA3D922D86D361DC72576503ADB0EA6A786CBD97A791AC9624" loggingCookieName=".SFLOG-/">
	<securityTokenIssuers>
		<add key="B1976B4F077653FE44943E527C7EAE37E289D99D9F2D4F49F28602153AF5D53D" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="B1976B4F077653FE44943E527C7EAE37E289D99D9F2D4F49F28602153AF5D53D" realm="http://localhost" />
	</relyingParties>
</securityConfig>