/* {{> sign}} */

using Telerik.Sitefinity.Configuration;

namespace {{pascalCaseName}}
{
    /// <summary>
    /// Defines module configuration settings.
    /// </summary>
    internal class {{pascalCaseName}}Config : ConfigSection
    {
    }
}