/* {{> sign}} */

using System;
using Telerik.Sitefinity.Data;

namespace {{pascalCaseName}}
{
    public class {{pascalCaseName}}ModuleDataProvider : DataProviderBase
    {
        public override Type[] GetKnownTypes()
        {
            return new Type[] { typeof({{pascalCaseName}}ModuleItem) };
        }

        public override string RootKey
        {
            get { return "{{pascalCaseName}}Module"; }
        }
    }
}